# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dubbo-interface/target/dubbo-interface.jar
dubbo-interface/target/generated-sources/
dubbo-service/src/main/resources/META-INF/
dubbo-web/src/main/resources/META-INF/
